:root {
    --my-green: #00DF5E;
    --my-dark: #212121;
    --bs-navbar-color: rgba(255, 255, 255, 1) !important;
}

body {
    font-family: 'DM Sans' !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.bg-myGreen {
    background-color: var(--my-green) !important;
}

.border-myGreen {
    border-color: var(--my-green) !important;
}

.border-bottom-myGreen {
    border-bottom-color: var(--my-green) !important;
}

.btn.bg-myGreen:hover {
    background-color: #008036 !important;
}

.bg-myDark {
    background-color: var(--my-dark) !important;
}

.w-65 {
    width: 65%!important;
}

.skill {
    max-height: 150px;
    max-width: 150px;
}

.custom-toggler-light .navbar-toggler-icon {
    background-image: url("../img/lightHamburguerMenu.svg");
}

.custom-toggler-dark .navbar-toggler-icon {
    background-image: url("../img/darkHamburguerMenu.svg");
}